<% show_post ||= false %>

<div class="row">
  <div class="well span1 text-center">
    <%= link_to(vote_post_comment_path(comment.post, comment, 'vote' => 'true'), method: 'post', remote: true)  do %>
      <i class="icon-<%= test_vote?(comment) ? 'arrow-up' : 'minus' %> vote_<%= comment.id %>"></i>
    <% end %>
    <br/>
      <span id="comment_<%= comment.id %>_vote"><%= pluralize(comment.total_votes, "vote") %></span>
    <br/>
    <%= link_to(vote_post_comment_path(comment.post, comment, 'vote' => 'false'), method: 'post', remote: true)  do %>
      <i class="icon-<%= test_vote?(comment) ? 'arrow-down' : 'minus' %> vote_<%= comment.id %>"></i>
    <% end %>
  </div>
  <div class="well span8">
    <p>
      "<%= comment.body %>"
      <% if show_post %>
        on <%= link_to comment.post.title, post_path(comment.post) %>
      <% end %>
    </p>
    <p>
      <span class="quiet">by</span> <%= link_to comment.user.username, user_path(comment.user) %>
      <small>at <%= format_time(comment.created_at) %></small>
    </p>
  </div>
</div>