<div class="row">
  <div class="well span1 text-center">
    <%= link_to(vote_post_path(post, 'vote' => 'true'), method: 'post', remote: true)  do %>
      <i class="icon-<%= test_vote?(post) ? 'arrow-up' : 'minus' %> vote_<%= post.to_param %>"></i>
    <% end %>
    <br/>
      <span id="post_<%= post.to_param %>_vote"><%= pluralize(post.total_votes, "vote") %></span>
    <br/>
    <%= link_to(vote_post_path(post, 'vote' => 'false'), method: 'post', remote: true)  do %>
      <i class="icon-<%= test_vote?(post) ? 'arrow-down' : 'minus' %> vote_<%= post.to_param %>"></i>
    <% end %>
  </div>
  <div class="well span8">
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">Posted by</span> <%= link_to post.creator.username, user_path(post.creator) %>
      <small>at <%= format_time(post.updated_at) %></small> 
    </p>
    <p>
      <small><%= link_to "#{post.comments.size} comments", post_path(post) %></small>
    </p>
  </div>
</div>